<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather Document</title>    
</head>

<body>
  <div>
    <header class="container">
      <h1>Weather API</h1>
    </header>
    <div>
      <form method="get" action="/">
        <div>
          <input class="input"
          name="station_id"
          type="text"
          placeholder ="Station ID">
        </div>
        <div>
          <input class="input"
          name="date"
          type="text"
          placeholder ="Date">
        </div>
        <!-- <div>
          <input type="submit">
        </div>         -->
        <a href="/weather"> weather</a>
        <div>
          <input class="input"
          name="year"
          type="text"
          placeholder ="Year">
        </div>
        <a href="/weather/stats"> weather_stats</a>
      </form> 
    </div>
    <div> 
      <h2>Weather Input</h2>
        
    </div>
  <div>
</body>
</html>
